html {
  scroll-behavior: smooth;
}

nav.navbar{
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;


}

nav a {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
}

nav .navbar-toggler{
  
  margin: 13px 15px 13px 0;
}

nav.navbar.shrink{
  min-height: 35px;
}

nav.navbar.shrink {
  min-height: 35px;
}

nav.shrink a {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-size: 15px;
}

nav.shrink .navbar-brand {
  font-size: 25px;
}

nav.shrink .navbar-toggler {
  padding: 4px 5px;
  margin: 8px 15px 8px 0;
}



.carlin-centerheader{
      text-align: center;
      background-image: url(https://i.pinimg.com/originals/a5/33/cf/a533cf5de8aa84758c89fea507c5d7da.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      padding-bottom: 0;
      background-size: cover;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
  
      

}

h1.display{
      font-family: 'Sofia';
      font-weight: bolder;
      color:whitesmoke;
      font-size: 20px;
      letter-spacing: 3px;
      text-align: left;
      line-height: 1.6;
}

strong.display2{
      font-family: 'Sofia';
      font-weight: bolder;
      color: whitesmoke;
      font-size: 35px;
      letter-spacing: 3px;
      text-align: center;
      
}



.profile-pic{
  border-radius: 50%;
}




#myaboutme{
  font-family: "Lobster",cursive;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
}

#myaboutme:after{
content: "";
display: inline-block;
height: 1px;
width: 300px;
background-color: rgb(48, 60, 85);
position: relative;
top: -5px;
margin-left: 20px;
font-weight: bolder;

}

#secthead1{
  font-size: 40px;
}


.carousel-item {
    height: 100%;
    text-align: center;
    width: 100%;
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

